GROQ_API_KEY=

# WhatsApp Cloud API
WHATSAPP_PHONE_NUMBER_ID=1056623134209589
WHATSAPP_BUSINESS_ACCOUNT_ID=2241991183277463
WHATSAPP_GRAPH_API_VERSION=v23.0
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_TO_PHONE_NUMBER=15551498428
